
{% extends 'base.html' %}
{% block title %}Home {% endblock %}
{%block content%}




    <div class="home-form-card">
        <div class="game-icon">?</div>
        <h1 class="game-title">The Number Guess</h1>
        <p class="game-subtitle">Enter your name to start the challenge</p>
        
        <form action="/start" method="POST" class="home-form">
            <input type="text" name="player_name" placeholder="Player Name..." required>
            <button type="submit">Start Game</button>
        </form>
    </div>
{% endblock %}
